@charset "UTF-8";

/*  DEVICES BREAKPOINTS
    Telas pequenas: até 600px
    Celulares: 600px até 700px
    Tablets: 768px até 992px
    Notebooks: 992px até 1200px
    Grandes telas: acima de 1200px
*/

/*  Tamanho de
@midia screen