@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    /*alinhamento dos textos*/
    text-align: center;
    padding: 30px;
}